# Binance WebSocket URL (Combine streams using formatting: wss://stream.binance.com:9443/stream?streams=btcusdt@ticker/ethusdt@ticker)
BINANCE_WS_URL=wss://stream.binance.com:9443/stream?streams=btcusdt@ticker/ethusdt@ticker/bnbusdt@ticker
